@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.wrapper {
  padding: 20px;
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #eff3f4;
}

.content {
  float: left;
  padding: 20px;
  margin-left: 20px;
  background-color: #3274ae;
}

.content:first-child {
  margin-left: 0;
}

.text {
  width: 230px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  border: solid 10px #022336;
  background-color: #fff;
}


/* 回答はここに書いてね */
