@charset "UTF-8";

/* 回答はここに書いてね */
.box0 {
  text-align: center;
}

.box1 {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.text1 {
  padding: 5px;
  border: 1px solid #00BCD4;
  border-radius: 5px;
}

.text1::-webkit-input-placeholder {
  color: #00BCD4;
}

.text2 {
  height: 40px;
  padding: 5px;
  border: 1px solid #00BCD4;
  border-radius: 5px;
  resize: none;
}

.in {
  font-size: 16px;
  background: none;
  font-size: none;
  outline: none;
  -webkit-appearance: none;
}

/*ラジオボタン*/
.radio1-input {
  display: none;
}

.botan {
  cursor: pointer;
}

.radio1-parts {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.radio1-parts:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio1-input:checked + .radio1-parts:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
}

/*チェックボックス*/
.check-parts {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 22px;
}

.check-parts::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.radio1-input:checked + .check-parts:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 13px;
  height: 5px;
  border-bottom: 2px solid #00bcd4;
  border-left: 2px solid #00bcd4;
  transform: rotate(-45deg);
}

/*select*/
.select1 {
  position: relative;
  background-color: #fff;
}

.select2 {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 30px 5px 5px;
  font-size: 14px;
}

.select1:before {
  position: absolute;
  top: 7px;
  right: 9px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  transform: rotate(-45deg);
  content: "";
}

/*ボタン*/
.button {
  padding: 5px 10px;
  border: 1px solid #00BCD4;
  border-radius: 5px;
  color: #00BCD4;
  cursor: pointer;
}

.button:active {
  background-color: #00BCD4;
  color: #fff;
}

/* 回答はここに書いてね */
