@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  text-align: center;
}

.contents {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.text {
  padding: 5px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  outline-color: #00bcd4;
}

.text::-webkit-input-placeholder {
  color: #00bcd4;
}

.textarea {
  height: 40px;
  padding: 5px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.common {
  font-size: 16px;
  background: none;
  font-size: none;
  -webkit-appearance: none;
}

/*ラジオボタン*/
.radio_input {
  display: none;
}

.label_list {
  cursor: pointer;
}

.radio_parts {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.radio_parts:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio_input:checked + .radio_parts:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
}

/*チェックボックス*/
.check_parts {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 22px;
}

.check_parts::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.radio_input:checked + .check_parts:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 13px;
  height: 5px;
  border-bottom: 2px solid #00bcd4;
  border-left: 2px solid #00bcd4;
  transform: rotate(-45deg);
}

/*select*/
.select {
  position: relative;
  background-color: #fff;
}

.select_list {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 30px 5px 5px;
  font-size: 14px;
}

.select:before {
  position: absolute;
  top: 7px;
  right: 9px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  transform: rotate(-45deg);
  content: "";
}

/*ボタン*/
.button {
  padding: 5px 10px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  color: #00BCD4;
  cursor: pointer;
  outline: none;
}

.button:active {
  background-color: #00bcd4;
  color: #fff;
}

/* 回答はここに書いてね */
